<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean class="com.springCore.Student" name="student1">
        <property name="studentId">
            <value>1</value>
        </property> 
        <property name="studentName">
            <value>Himanshu Yadav</value>
        </property>
        <property name="studentAddress">
            <value>Rajasthan</value>
        </property>
    </bean>
    <bean class="com.springCore.Student" name="student2">
        <property name="studentId" value="2"/>
        <property name="studentName" value="Anshu Yadav"/>
        <property name="studentAddress" value="Rajasthan"/>
    </bean>
	<bean class="com.springCore.Student" name="student3" 
			p:studentId="3" p:studentName="Hari" p:studentAddress="raj"/>
			
	
</beans>
